.about{ 
  width: 100%;
  font-family: cursive;

}
.description h1{
  text-align: left;
  font-family: 'Diodrum Arabic';
  font-weight: bolder;
  font-size: 48px;
}
.description p{
  text-align: left;
  font-family: 'Sharp Sans No1 Medium';
}
.about {
  background-color: #21436e !important;
  padding: 30px 0px;
}
.about-btn {
  background-color: #fff !important;
  border: none !important;
  border-radius: none;
  margin-right: 25px;
  padding: 10px;
  font-family: 'Shanti';

}